<!DOCTYPE HTML>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no, email=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<!-- 启用360浏览器的极速模式(webkit) -->
	<meta name="renderer" content="webkit">
	<!-- 避免IE使用兼容模式 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
	<meta name="HandheldFriendly" content="true">
	<!-- 微软的老式浏览器 -->
	<meta name="MobileOptimized" content="320">
	<!-- uc强制竖屏 -->
	<meta name="screen-orientation" content="portrait">
	<!-- QQ强制竖屏 -->
	<meta name="x5-orientation" content="portrait">
	<!-- UC强制全屏 -->
	<meta name="full-screen" content="yes">
	<!-- QQ强制全屏 -->
	<meta name="x5-fullscreen" content="true">
	<!-- UC应用模式 -->
	<meta name="browsermode" content="application">
	<!-- QQ应用模式 -->
	<meta name="x5-page-mode" content="app">
	<!-- windows phone 点击无高光 -->
	<meta name="msapplication-tap-highlight" content="no">
	<title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="skdream@126.com">
	<link rel="stylesheet" type="text/css" href="./css/app.css">
</head>
<body>
<div class="wrap">
	<div id="main" class="main">
		<div id="Jcover" class="cover">
			
		</div>
		<div id="article" class="article">
			
		</div>
		<div id="act" class="act ">
<!-- 			<div class="act-content">
				<div class="act-l">
					<div class="act-item left">
						<div class="act-item__hd">
							类型
						</div>
						<div class="act-item__bd">
							<span>
								科技/创业
							</span>
							
						</div>
					</div>
					<div class="act-item right">
						<div class="act-item__hd">
							费用
						</div>
						<div class="act-item__bd">
							<span class="">
								1230-6228元
							</span>
						</div>
					</div>
				</div>
				<div class="act-mid">
				</div>
				<div class="act-r">
					<div class="act-item act-item__single">
						<div class="act-item__hd">
							活动时间
						</div>
						<div class="act-item__bd">
							<span class="time">
								07-21 18:00
							</span>
							<span class="sep">~</span>
							<span class="time">
								07-21 22:00
							</span>
							
						</div>
					</div>
				</div>
			</div>
			<div class="join">
				<div class="join-left">
					<div class="bar">
						<div class="bar-inner">
							
						</div>
					</div>
					<div class="join-num">
						15人参与
					</div>
				</div>
				<div class="join-right">
					<a href="#">查看参与用户</a>
				</div>
			</div> -->
		</div>
		<div class="map-box">
			<div id="mapContainer" class="map-container">
				
			</div>
		</div>
		<div id="starBox" class="star-box">
        <!--
			<div class="star-wrap">
				<i class="icon-star"></i>
				<i class="icon-star"></i>
				<i class="icon-star"></i>
				<i class="icon-star"></i>
			</div>
			<div class="comm-num">
				<a href="#">6条评价 <span class="arrow">></span></a>
			</div>
            -->
		</div>

		<div id="good" class="approval">
<!-- 			<div class="approval-top">
	<div class="approval-heart">
		<i class="icon-heart"></i>
	</div>
	<div class="approval-num">
		2100人点赞
	</div>
</div>
<div class="approval-bottom">
	<span class="avatar">
		<img src="http://image.duoju.info/avatar/69264.jpg?imageView2/1/w/100/h/100" alt="">
	</span>
	<span class="avatar">
		<img src="http://image.duoju.info/avatar/67849.jpg?imageView2/1/w/100/h/100" alt="">
	</span>
	<span class="avatar">
		<img src="http://image.duoju.info/avatar/67845.jpg?imageView2/1/w/100/h/100" alt="">
	</span>
	<span class="avatar">
		<img src="http://image.duoju.info/avatar/67841.jpg?imageView2/1/w/100/h/100" alt="">
	</span>
	<span class="avatar">
		<img src="http://image.duoju.info/avatar/69264.jpg?imageView2/1/w/100/h/100" alt="">
	</span>
	<span class="avatar">
		<img src="http://image.duoju.info/avatar/67849.jpg?imageView2/1/w/100/h/100" alt="">
	</span>
	<span class="avatar">
		<img src="http://image.duoju.info/avatar/67845.jpg?imageView2/1/w/100/h/100" alt="">
	</span>
	<span class="avatar">
		<img src="http://image.duoju.info/avatar/67841.jpg?imageView2/1/w/100/h/100" alt="">
	</span>
	<span class="avatar">
		<img src="http://image.duoju.info/avatar/69264.jpg?imageView2/1/w/100/h/100" alt="">
	</span>
	<span class="avatar">
		<img src="http://image.duoju.info/avatar/67849.jpg?imageView2/1/w/100/h/100" alt="">
	</span>
	<span class="avatar">
		<img src="http://image.duoju.info/avatar/67845.jpg?imageView2/1/w/100/h/100" alt="">
	</span>
	<span class="avatar">
		<img src="http://image.duoju.info/avatar/67841.jpg?imageView2/1/w/100/h/100" alt="">
	</span>
</div> -->
		</div>

		<div id="comment" class="comment">
		<!-- 			
			<div class="comment-hd">
				评论（53）
			</div>
			<div class="comment-bd">
				<ul>
					<li>
						<div class="comm-top">
							<span class="avatar">
								<img src="http://image.duoju.info/avatar/69264.jpg?imageView2/1/w/100/h/100" alt="">
							</span>
							<span class="uname">
								超级死胖子
							</span>
							<span class="time">
								09-22 13:08
							</span>
						</div>
						<div class="comm-con">
							有大妹子吗？有大妹子吗？有大妹子吗？有大妹子吗？有大妹子吗？有大妹子吗？
						</div>
					</li>
					<li>
						<div class="comm-top">
							<span class="avatar">
								<img src="http://image.duoju.info/avatar/67849.jpg?imageView2/1/w/100/h/100" alt="">
							</span>
							<span class="uname">
								超级死胖子
							</span>
							<span class="time">
								09-22 13:08
							</span>
						</div>
						<div class="comm-con">
							有大妹子吗？
						</div>
					</li>
					<li>
						<div class="comm-top">
							<span class="avatar">
								<img src="http://image.duoju.info/avatar/67849.jpg?imageView2/1/w/100/h/100" alt="">
							</span>
							<span class="uname">
								超级死胖子
							</span>
							<span class="time">
								09-22 13:08
							</span>
						</div>
						<div class="comm-con">
							有大妹子吗？
						</div>
					</li>
					<li>
						<div class="comm-top">
							<span class="avatar">
								<img src="http://image.duoju.info/avatar/67849.jpg?imageView2/1/w/100/h/100" alt="">
							</span>
							<span class="uname">
								超级死胖子
							</span>
							<span class="time">
								09-22 13:08
							</span>
						</div>
						<div class="comm-con">
							有大妹子吗？
						</div>
					</li>
				</ul>
				<a class="comm-more" href="#">查看更多评论</a>
			</div> 
		-->
		</div>
		<div class="action">
			<span id="price" class="total-fee">
				_
			</span>
			<a class="act-btn" id="joinIn" href="JuFun://">我要报名</a>
		</div>

		<div class="down-load">
			<div class="down-load-l left">
			<i class="icon-logo">
			</i>
			<span class="slogan">
				<b>多聚App</b><br>
				<b class="sm">不止于约 不期而聚</b>
			</span>
			</div>
			<div class="right">
				<a id="downLoad" href="JuFun://" class="down-btn">下载App</a>
			</div>
		</div>
	</div>
</div>
<!-- 活动 -->
<script id="actTpl" type="text/html">
	<div class="act-content">
	<div class="act-l">
		<div class="act-item left">
			<div class="act-item__hd">
				类型
			</div>
			<div class="act-item__bd">
				<span>
					<%=category.name%>
				</span>
			</div>
		</div>
		<div class="act-item right">
			<div class="act-item__hd">
				费用
			</div>
			<div class="act-item__bd">
				<span class="">
					<%= (priceRange == -1) ? '免费':priceRange %>
				</span>
			</div>
		</div>
	</div>
	<div class="act-mid">
	</div>
	<div class="act-r">
		<div class="act-item act-item__single">
			<div class="act-item__hd">
				活动时间
			</div>
			<div class="act-item__bd">
				<span class="time">
                    <%= dateFormat(beginTime,5,11)%>
				</span>
				<span class="sep">~</span>
				<span class="time">
					<%= dateFormat(endTime,5,11)%>
				</span>
				
			</div>
		</div>
	</div>
	</div>
	<div class="join">
	<div class="join-left">
		<div class="bar">
        
			<div class="bar-inner" style="width:<%= (approvalNum/num)*100 %>%">
				
			</div>
		</div>
		<div class="join-num">
			<%=approvalNum%>人参与
		</div>
	</div>
	<div class="join-right">
		<span>查看参与用户</span>
	</div>
	</div>
</script>

<!-- 评价 -->

<script id="starTpl" type="text/html">
<div class="star-wrap">
    
   <% for(var i=0;i<evaluationStar;i++){ %>
       <i class="icon-star"></i>
    <% } %>
  
    
</div>
<div class="comm-num">
    <a href="./pingjia.html?partyId=<%= id %>"><%=evaluationCount%>条评价 <span class="arrow">></span></a>
</div>
</script>

<!-- 赞 -->
<script id="goodTpl" type="text/html">
	<div class="approval-top">
		<div class="approval-heart">
			<i class="icon-heart"></i>
		</div>
		<div class="approval-num">
			<%=goodCount%>人点赞
		</div>
	</div>
	<div class="approval-bottom">
		<% for(var i=0;i< goodUserList.length;i ++ ){ 
			if(i<9){ %>
				<span class="avatar">
					<img src="<%=goodUserList[i].user.smallAvatar%>" alt="<%=goodUserList[i].user.username%>">
				</span>
			<% } }%>

			<%if(goodCount>9){ %>
				<span class="avatar">
					<img src="./images/more_avatar.png">
				</span>
		<%}%>

	</div>
</script>
<!-- 评论 -->
<script id="commentTpl" type="text/html">
	<div class="comment-hd">
	    评论（<%=commentCount%>）
	</div>
	<div class="comment-bd">
	    <ul>
        <%for (var i=0;i<commentList.length;i++){ %>
	         <li>
	            <div class="comm-top">
	                <span class="avatar">
	                    <img src="<%= commentList[i].user.smallAvatar%>" alt="<%=commentList[i].user.username%>">
	                </span>
	                <span class="uname">
	                    <%=commentList[i].user.username%>
	                </span>
	                <span class="time">
	                    <%=dateFormat(commentList[i].addTime,5,11) %>
	                </span>
	            </div>
	            <div class="comm-con">
	                <%=commentList[i].content%>
	            </div>
	        </li>       
	    <%}%>
	    </ul>
        <%if(commentCount>3){%>
        <a class="comm-more" href="./comment.html?partyId=<%= id%>">查看更多评论</a>
        <%}%>
	    
	</div>
</script>
<!-- <script type='text/javascript' src='./js/jquery.js'></script> -->
<script src="http://webapi.amap.com/maps?v=1.2&key=0eb2850716f372430187a215aab1f03a"></script>
<script type='text/javascript' src='./js/index.js'></script>
<!--
<script type='text/javascript' src='./js/zepto.js'></script>
<script type='text/javascript' src='./js/template.js'></script>
<script type='text/javascript' src='./js/index.js'></script>
-->
</body>
</html>